.fancybox-container {z-index: 99999999999!important;}
.Contact-support {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 30px; }
  .Contact-support a {
    display: flex;
    position: relative;
    align-items: center; }
    .Contact-support a p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.69;
      color: #000; }
      .Contact-support a p span {
        display: block;
        font-size: 12px;
        line-height: 1.75; }
    .Contact-support a:before {
      content: "";
      display: inline-block;
      background-image: url(../images/icon-contact-support.svg);
      width: 78px;
      height: 78px;
      transition: all 500ms;
      position: absolute;
      -webkit-transform: translate(-30px, -5px);
              transform: translate(-30px, -5px); }
    .Contact-support a:hover:before {
      -webkit-transform: translate(-20px, -5px);
              transform: translate(-20px, -5px); }
  .Contact-support-white p {
    color: #fff !important; }
  .Contact-support-white a:before {
    background-image: url(../images/icon-contact-support-white.svg); }
  .Contact-support-pink a:before {
    background-image: url(../images/icon-contact-support-white.svg); }
  .Contact-support-whatsapp a p {
    color: #fff; }
  .Contact-support-whatsapp a:before {
    position: static;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background-image: url(../images/icon-whatsapp.svg);
    margin-right: 12px; }
  .Contact-support-whatsapp a:hover:before {
    -webkit-transform: translate(0, 0) scale(1.1);
            transform: translate(0, 0) scale(1.1); }

.Ofis-konum-buton {
  display: flex;
  width: 198px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #f5f6fa;
  font-size: 14px;
  font-weight: 500;
  color: #2e1b5d;
  transition: all 500ms;
  position: relative;
  z-index: 1; }
  .Ofis-konum-buton:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    background-color: #2e1b5d;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 7px;
    transition: all 500ms; }
  .Ofis-konum-buton .icon-marker {
    width: 15px;
    height: 18px;
    background-size: 100% 100%;
    background-image: url(../images/icon-marker.svg);
    margin-right: 12px;
    flex-shrink: 0; }
  .Ofis-konum-buton:hover {
    color: #fff; }
    .Ofis-konum-buton:hover:before {
      width: 100%; }
  .Ofis-konum-buton-white {
    background-color: #fff; }

.Banner-kurumsal {
  margin-top: 114px; }
  .Banner-kurumsal .Banner_search-text p span {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 0; }

.Content {
  position: relative;
  z-index: 10; }
  .Content:after {
    content: "";
    display: inline-block;
    width: 240px;
    height: 410px;
    background-size: 100% 100%;
    background-image: url(../images/heart-shape-blur-sm.png);
    transition: all 500ms;
    position: absolute;
    right: 0;
    bottom: 0; }
  .Content-in h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
    color: #d64e3f;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Content-in h3:before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 37px;
      background-color: #d64e3f;
      transition: all 500ms; }
  .Content-in p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.79;
    text-align: center;
    color: #7e8392;
    margin-bottom: 20px; }
    .Content-in p.text-bold {
      font-weight: bold; }
  .Content-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
    .Content-features-item {
      background-color: #172751;
      padding: 44px;
      position: relative; }
      .Content-features-item h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.04;
        color: #fff;
        margin-bottom: 16px; }
      .Content-features-item p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.79;
        color: rgba(255, 255, 255, 0.5);
        text-align: left; }
      .Content-features-item:nth-child(2) {
        background-color: #38367d; }
      .Content-features-item:nth-child(3) {
        background-color: #3b6068; }

.new-title {
  font-size: clamp(24px, 1.67vw, 32px);
  font-weight: 600;
  line-height: 1.59;
  color: #2e1b5d;
  margin-bottom: 35px; }

.Info {
  padding-top: 200px;
  padding-bottom: 120px;
  background-color: #f5f6fa; }
  .Info-in {
    display: flex;
    justify-content: space-between; }
  .Info-left {
    width: 50%; }
  .Info-left img{
    max-width: 150px;
    width: 100%;
    margin-bottom: 10px;
  }
    .Info-left-item {
      display: flex;
      align-items: center; }
      .Info-left-item img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        max-width: 150px;
        max-height: 50px; }
      .Info-left-item span {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.92;
        color: #172751;
        width: 100px;
        margin-right: 48px; }
      .Info-left-item p {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.92;
        color: #7e8392; }
      .Info-left-item button {
        display: flex;
        align-items: center;
        background-color: transparent; }
        .Info-left-item button i.icon-copy {
          width: 16px;
          height: 19px;
          background-size: 100% 100%;
          background-image: url(../images/icon-copy.svg);
          margin-left: 18px;
          transition: all 500ms; }
        .Info-left-item button:hover i {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
      .Info-left-item input {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.92;
        color: #7e8392;
        min-width: 240px;
        pointer-events: none; }
    .Info-left-alert {
      display: inline-flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #fff;
      margin-top: 40px; }
      .Info-left-alert .icon-alert {
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
        background-image: url(../images/icon-alert.svg);
        margin-right: 4px;
        flex-shrink: 0; }
      .Info-left-alert p {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.92;
        color: #7e8392; }
  .Info-right {
    width: calc(50% - 50px); }
    .Info-right-in {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 12px; }
    .Info-right-item {
      position: relative;
      border-radius: 4px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all 500ms; }
      .Info-right-item-text {
        width: 100%;
        padding: clamp(15px, 1.57vw, 30px);
        transition: all 500ms; }
      .Info-right-item-link {
        padding: 25px;
        width: 100%;
        border-top: 1px solid #F3F4F7;
        transition: all 500ms; }
      .Info-right-item img {
        display: none; }
      .Info-right-item h5 {
        font-size: clamp(14px, 0.9vw, 17px);
        font-weight: 600;
        line-height: 1.47;
        text-align: center;
        color: #172751;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 500ms; }
        .Info-right-item h5:before {
          content: "";
          display: inline-block;
          width: clamp(36px, 2.4vw, 46px);
          height: clamp(36px, 2.4vw, 46px);
          background-size: 100% 100%;
          background-image: url(../images/icon-info-paper.svg);
          margin-bottom: 12px;
          transition: all 500ms; }
      .Info-right-item p {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.15;
        text-align: center;
        color: #172751;
        transition: all 500ms; }
        .Info-right-item p .icon-info-pdf {
          width: 23px;
          height: 23px;
          background-size: 100% 100%;
          background-image: url(../images/icon-info-pdf.svg);
          margin-right: 12px;
          transition: all 500ms; }
      .Info-right-item:hover .Info-right-item-text {
        background-color: #172751; }
      .Info-right-item:hover .Info-right-item-link {
        background-color: #d64e3f;
        border-color: #d64e3f; }
      .Info-right-item:hover h5 {
        color: #fff; }
        .Info-right-item:hover h5:before {
          background-image: url(../images/icon-info-paper-w.svg); }
      .Info-right-item:hover p {
        color: #fff; }
        .Info-right-item:hover p .icon-info-pdf {
          background-image: url(../images/icon-info-pdf-w.svg); }

.Basin {
  margin-bottom: 105px;
  padding-bottom: 200px;
  background-color: #172751; }
  .Basin-in {
    display: flex;
    justify-content: space-between;
    padding: 100px 0; }
  .Basin-head {
    width: 40%; }
    .Basin-head h3 {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.59;
      color: #fff; }
    .Basin-head h2 {
      max-width: 480px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.29;
      color: #d64e3f;
      margin-bottom: 20px; }
    .Basin-head p {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.79;
      color: rgba(255, 255, 255, 0.5); }
  .Basin-content {
    width: 50%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px; }
    .Basin-content-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 110px;
      border: solid 1px #2c3e70;
      background-color: #fff; }
      .Basin-content-item img {
        width: 100%;
        height: 100%;
        max-width: 130px;
        max-height: 130px;
        -o-object-fit: contain;
           object-fit: contain; }

.Ofis {
  margin-top: -250px;
  margin-bottom: 70px;
  padding-bottom: 50px;
  border-bottom: 1px solid #f6f6fa; }
  .Ofis-in {
    background-color: #fff;
    position: relative;
    z-index: 1; }
    .Ofis-in:before {
      content: "";
      display: inline-block;
      width: 120%;
      height: 120%;
      background-color: #fff;
      z-index: -1;
      position: absolute;
      left: -10%;
      top: -10%;
      transition: all 500ms; }
  .Ofis-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 9px;
    margin-bottom: 56px; }
    .Ofis-content-item {
      position: relative;
      z-index: 2;
      height: 100%;
      overflow: hidden;
      border-radius: 11px; }
      .Ofis-content-item a {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%; }
      .Ofis-content-item img {
        width: 100%;
        height: 100%;object-fit: cover;
        border-radius: 11px;
        transition: all 500ms; }
      .Ofis-content-item-more {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 18px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        color: #000;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        pointer-events: none;
        white-space: nowrap; }
        .Ofis-content-item-more .icon-gallery {
          width: 20px;
          height: 20px;
          background-size: 100% 100%;
          background-image: url(../images/icon-gallery.svg);
          margin-right: 8px; }
      .Ofis-content-item-play {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 1; }
        .Ofis-content-item-play i {
          width: 70px;
          height: 70px;
          background-size: 100% 100%;
          background-image: url(../images/icon-play-kurumsal.svg); }
      .Ofis-content-item-list {
        display: none; }
      .Ofis-content-item-video:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 11px;
        background-color: rgba(112, 79, 166, 0.37);
        transition: all 500ms;
        z-index: 1; }
      .Ofis-content-item:hover img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .Ofis-bottom {
    display: flex;
    align-items: center; }
    .Ofis-bottom .Contact-support {
      margin-right: clamp(40px, 4.69vw, 90px); }
    .Ofis-bottom-text p, .Ofis-bottom-text a {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.51;
      color: #000; }
    .Ofis-bottom-text a {
      transition: all 500ms; }
      .Ofis-bottom-text a:hover {
        letter-spacing: 0.5px;
        color: #2e1b5d; }
    .Ofis-bottom .Ofis-konum-buton {
      margin-left: auto; }
  .Ofis-fethiye {
    margin-top: 0;
    border-bottom: none; }
    .Ofis-fethiye .Ofis-in:before {
      display: none; }

.K_Iletisim {
  margin-bottom: 160px; }
  .K_Iletisim-in {
    border-radius: 40px;
    background-size: cover;
    padding-top: 70px; }
  .K_Iletisim-top {
    display: flex;
    align-items: center;
    padding: 0 70px 50px;
    border-bottom: 1px solid #dee1ec; }
    .K_Iletisim-top .new-title {
      margin-bottom: 0;
      color: #fff; }
    .K_Iletisim-top .Contact-support-pink {
      margin-left: auto;
      margin-right: clamp(30px, 4.69vw, 90px); }
  .K_Iletisim-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px; }
    .K_Iletisim-bottom-mail {
      font-size: 14px;
      font-weight: normal;
      line-height: 2.71;
      color: #fff;
      position: relative;
      display: flex;
      flex-direction: column; }
      .K_Iletisim-bottom-mail:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 1px;
        background-color: #2e1b5d;
        transition: all 500ms;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px); }
      .K_Iletisim-bottom-mail:hover {
        color: #2e1b5d; }
        .K_Iletisim-bottom-mail:hover:after {
          width: 100%; }
    .K_Iletisim-bottom p {
      max-width: 380px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.64;
      color: #fff; }

@media (max-width: 991px) {
  .Banner-kurumsal {
    margin-top: 76px; }
    .Banner-kurumsal .Banner_search-text p {
      max-width: 340px;
      margin: 0 auto;
      padding: 0; }
      .Banner-kurumsal .Banner_search-text p span {
        font-size: 16px; }
  .Content {
    margin-bottom: 60px; }
    .Content:after {
      width: 160px;
      height: 270px; }
    .Content-in {
      padding-top: 40px; }
      .Content-in h3 {
        font-size: 24px;
        margin-bottom: 15px; }
      .Content-in p {
        font-size: 13px; }
    .Content-features {
      margin-top: 60px;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      grid-template-columns: minmax(310px, 1fr) minmax(310px, 1fr) minmax(310px, 1fr);
      overflow-x: scroll; }
      .Content-features-item {
        padding: 30px; }
        .Content-features-item h4 {
          font-size: 20px; }
        .Content-features-item p {
          font-size: 13px; }
  .new-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px; }
  .Info {
    padding-top: 40px;
    padding-bottom: 40px; }
    .Info-in {
      flex-direction: column; }
    .Info-left {
      width: 100%;
      margin-bottom: 30px; }
      .Info-left .new-title {
        margin-bottom: 10px; }
      .Info-left-item {
        flex-direction: column;
        align-items: flex-start; }
      .Info-left-alert {
        align-items: flex-start;
        margin-top: 30px; }
        .Info-left-alert .icon-alert {
          width: 21px;
          height: 21px; }
    .Info-right {
      width: 100%; }
      .Info-right-in {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(-webkit-max-content, auto);
        grid-auto-rows: minmax(max-content, auto);
        grid-gap: 4px; }
      .Info-right-item {
        flex-direction: row; }
        .Info-right-item-text {
          display: flex;
          align-items: center;
          justify-content: center; }
        .Info-right-item h5 {
          flex-direction: row;
          margin: 0 auto;
          white-space: nowrap;
          min-width: 190px; }
          .Info-right-item h5:before {
            width: 26px;
            height: 28px;
            margin-bottom: 0;
            margin-right: 25px; }
        .Info-right-item-link {
          display: none; }
  .Basin {
    margin-bottom: 40px;
    padding-bottom: 0; }
    .Basin-in {
      flex-direction: column;
      padding: 40px 0; }
    .Basin-head {
      width: 100%;
      margin-bottom: 30px; }
      .Basin-head h3 {
        font-size: 20px;
        line-height: 2.55;
        text-align: center;
        margin-bottom: 0; }
      .Basin-head h2 {
        max-width: 100%;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.35;
        text-align: center;
        color: #d64e3f;
        margin-bottom: 20px; }
      .Basin-head p {
        font-size: 13px;
        text-align: center;
        line-height: 1.92; }
    .Basin-content {
      width: 100%;
      grid-template-columns: repeat(6, minmax(140px, 1fr));
      overflow-x: scroll; }
  .Ofis {
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-top: 0; }
    .Ofis-in:before {
      display: none; }
    .Ofis-content {
      grid-template-columns: 1fr 1fr; }
      .Ofis-content-item {
        border-radius: 4px; }
        .Ofis-content-item img {
          border-radius: 4px; }
        .Ofis-content-item-video {
          grid-column: 1 / 4;
          width: calc(100% - 8px); }
          .Ofis-content-item-video:before {
            border-radius: 4px; }
        .Ofis-content-item-more {
          flex-direction: column;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.8); }
          .Ofis-content-item-more .icon-gallery {
            margin-right: 0;
            margin-bottom: 5px; }
        .Ofis-content-item-play i {
          width: 50px;
          height: 50px; }
    .Ofis-bottom {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .Ofis-bottom .Contact-support {
        margin-right: 0;
        margin-bottom: 30px; }
      .Ofis-bottom-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; }
        .Ofis-bottom-text p, .Ofis-bottom-text a {
          text-align: center; }
      .Ofis-bottom .Ofis-konum-buton {
        margin-left: auto;
        margin-right: auto; }
  .Contact-support-whatsapp {
    margin-left: 0; }
  .K_Iletisim {
    margin-bottom: 60px; }
    .K_Iletisim-in {
      border-radius: 0;
      padding-top: 30px; }
    .K_Iletisim-top {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px 30px;
      border-bottom: 1px solid #dee1ec; }
      .K_Iletisim-top .new-title {
        margin-bottom: 40px; }
      .K_Iletisim-top .Contact-support-pink {
        margin: 0 0 30px 0; }
    .K_Iletisim-bottom {
      flex-direction: column;
      justify-content: center;
      padding: 20px 20px 40px; }
      .K_Iletisim-bottom p {
        text-align: center;
        margin-bottom: 20px; } }

        .Filtre-form{
          display: contents;
        }
        .Filtre-form .Villas-filter-item {
        margin-right: 10px;
      }
      .Filtre-form .Villas-filter-item:last-child{margin-right: 0;}
        @media (max-width:991px){
          .Filtre-form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            width: 100%;
          }
          .Filtre-form .Villas-filter-item{width: 100%;margin-top: 0;}
          .Filtre-form .Villas-filter-item .bootstrap-select{width: 100%!important;}
          .Filtre-form .Villas-filter-item .bootstrap-select .dropdown-toggle{font-size: 12px;padding-left: 10px;}
          .Filtre-form .Villas-filter-item .bootstrap-select .dropdown-toggle .filter-option{font-size: 11px;}
          .Filtre-form .Villas-filter-item .addon:nth-of-type(1){margin-top: -20px;}
          .Filtre-form  .Villas-filter-item .addon:nth-of-type(2){margin-top: 3px;}
          .Filtre-form .Villas-filter-item .icon-caret-down.addon{width: 15px;height: 15px;right: 5px;}
        }